<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Production Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'masterdata_list' %}">Рабочий процесс</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'order-list' %}">Заказы</a>
                </li>
                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Крой
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'kroy-list' %}">Крой</a>
                        <a class="dropdown-item" href="{% url 'kroy-create' %}">Создать Крой</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Склад
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'material_list' %}">Склад мат.ов</a>
                        <a class="dropdown-item" href="{% url 'product-list' %}">Склад продукции</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <!-- Your existing code for authentication links -->
            </ul>


        <ul class="navbar-nav ms-auto">
         {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'masterdatauser_list' %}">Личный кабинет</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Выход</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Привет, {{ user.username }} </a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Вход</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
        </li>
    {% endif %}
</ul>

        </div>
    </div>
</nav>
